<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green House</title>
    <%- include('imports'); -%>

    <link rel="stylesheet" href="stylesheets/homepage.css" />
  </head>
  <body>
<!-- Toast -->
    <div class="toast bg-secondary px-4" style="display: none;position: absolute; top: 20px; right: 10px;z-index: 1051;width: fit-content;font-size:1.1rem;transition: 0.7s;" id="toast">
      <div class="toast-body text-light" id="toastMessage">
        Hello, world! This is a toast message.
      </div>
    </div>


    <nav class="navbar px-5">
      <a class="navbar-brand" href="#">Green-House</a>

      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img
              class=""
              style="width: 3rem; height: 3rem; border-radius: 100%"
              src="https://images.outlookindia.com/public/uploads/articles/2020/1/23/Hrithik_Roshan_571_855.jpg"
              alt=""
          /></a>
        </li>
      </ul>
    </nav>
  </body>

  <!-- Add rooom Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#addNewRoomModal"
  >
    Add rooom
  </button>
  
  <!-- Add appliance Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#addNewApplianceModal"
  >
    Add Appliance
  </button>

  <!-- Add New Room Modal -->
  <div
    class="modal fade"
    id="addNewRoomModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Room</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form class="row g-3 needs-validation" novalidate>
            <div class="col-12">
              <label for="roomName" class="form-label"
                >Room name</label
              >
              <input
                type="text"
                class="form-control"
                id="roomName"
                placeholder="BEE Lab"
                required
              />
            </div>
            <!-- Select Appliances -->
            <h6 class="mb-0">Add Appliance's</h6>
            <div class="col-12 p-2 rounded " style="  border: 1px solid #d7d7d7;
            " >
              
              <div class="row no-gutters g-2">
                <div class="col-12 mb-2">
                  <div class="input-group">
                    <select class="custom-select w-100 form-control" id="applianceInput" onchange="applianceSelected()">
                      <!-- <option selected>Ac</option>
                      <option value="1">Projector</option>
                      <option value="2">Tubelight</option>
                      <option value="3">Three</option> -->
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                  <label for="quantityInput" class="form-label"
                    >Quantity</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="quantityInput"
                    aria-describedby="inputGroupPrepend"
                    value="1"
                    required
                  />
                </div>
                
                <div class="col-lg-4 col-md-4 col-6">
                  <label for="hoursUsed" class="form-label"
                    >Hour's Used/week</label
                  >
                  <div class="input-group has-validation">
                    <input
                      type="number"
                      class="form-control"
                      id="hoursUsed"
                      aria-describedby="inputGroupPrepend"
                      value="1"
                      required
                    />

                    <span class="input-group-text" id="inputGroupPrepend"
                      >Hrs</span
                    >
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                  <label for="powerInput" class="form-label"
                    >Power Consumption</label
                  >
                  <div class="input-group has-validation">
                    <input
                      type="text"
                      class="form-control"
                      id="powerInput"
                      aria-describedby="inputGroupPrepend"
                      disabled
                      
                    />

                    <span class="input-group-text" id="inputGroupPrepend"
                      >kWh</span
                    >
                  </div>
                </div>
                <div class="col-12 text-end">
                  <button class="btn btn-primary" onClick="addAppliance()" >Add Appliance</button>
                </div>
              </div>
            </div>

            <!-- Appliances List -->
            <div class="col-12">
              <label class="form-label">Appliances</label>
              <div class="selectedAppliances" id="selectedAppliances">
                
              </div>
            </div>
            <div class="col-12 text-end">
              <button class="btn btn-primary" onclick="addRoom()">Add Room</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Add New Appliance -->
  <div
    class="modal fade"
    id="addNewApplianceModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Room</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="" class="row g-3">

          <div class="col-12">
            <label for="roomName" class="form-label"
              >Appliance name</label
            >
            <input
              type="text"
              class="form-control"
              id="applianceName"
              placeholder="BEE Lab"
              required
            />
          </div>

          <div class="col-12">
            <label for="powerConsumption" class="form-label"
              >Power Consumption</label
            >
            <div class="input-group has-validation">
              <input
                type="text"
                class="form-control"
                id="powerConsumption"
                aria-describedby="inputGroupPrepend"
               required                
              />

              <span class="input-group-text" id="inputGroupPrepend"
                >kWh</span
              >
            </div>
          </div>

          <div class="col-12 text-end">
            <button class="btn btn-primary" onclick="addNewAppliance()">Add Room</button>
          </div>
        </form>

        </div>
      </div>
    </div>
  </div>
  <script src="stylesheets/js/homepage.js"></script>
</body>
</html>
