<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green House</title>
    <%- include('imports'); -%>

    <link rel="stylesheet" href="stylesheets/homepage.css" />
  </head>
  <body>


    <nav class="navbar px-5">
      <a class="navbar-brand" href="#">Green-House</a>

      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img
              class=""
              style="width: 3rem; height: 3rem; border-radius: 100%"
              src="https://images.outlookindia.com/public/uploads/articles/2020/1/23/Hrithik_Roshan_571_855.jpg"
              alt=""
          /></a>
        </li>
      </ul>
    </nav>
  </body>

  <!-- Add rooom Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#addNewRoomModal"
  >
    Add rooom
  </button>
  
  <!-- Add appliance Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#addNewApplianceModal"
  >
    Add Appliance
  </button>

  


</body>
</html>
