<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green House | Save Energy</title>
    <link rel="stylesheet" href="/stylesheets/landingPage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <%- include('./imports') -%>
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#"></a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/weeklyreport">Weekly Report</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#addRoom">Add Room</a>
            </li>
        </ul>
        <span class="login">
          <% if(user){ %>
            <a href="/logout" class=" nav-link-btn" data-toggle="modal" data-target="#exampleModal">Logout</a>
         <% }else{ %>
          <a href="/signin/google" class=" nav-link-btn">Sign In</a>
           <% } %> 
        </span>
        </div>
    </div>
</nav>
  </header>
   
       <div class="hero-section">
           <div class="container">
               <div class="row justify-content-center">
                   <div class=" col-8">
                        <h2 class="hero-title">Green House</h2>
                        <h5 class="hero-subtitle">Save Energy</h5>
                   </div>
                   <div class=" col-3">
                    <img class="bulb-svg" src="/assets/bulb.svg" alt="">
                   </div>
               </div>
           </div>
       </div>

       <div class="dashboard ">
           <div class="container h-100">

               <h6 class="dashboard-title text-center">DashBoard</h6>
               <h6 class="dashboard-subtitle">Rooms</h6>
               <form class="">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
               <div class="rooms-container">
                   <div class="container">
                       <div class="row justify-content-center row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4">
                        <% for(i=0;i<8;i++){ %>
                        <div class="col">
                            <div class="card border-success mb-3 h-100" style="max-width: 18rem;">
                                <div class="card-body text-success">
                                    <h5 class="card-title align-middle">Success card title</h5>
                                </div>
                                <div class="card-footer">
                                    <div class="info-icon float-start" data-bs-toggle="tooltip" data-bs-placement="top" title="Power usage of the Room" style="cursor: pointer;">
                                        <span class="material-icons" >
                                        info
                                        </span>
                                    </div>
                                    <div class="edit-icon float-end" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Appliance" style="cursor: pointer;">
                                        <span class="material-icons">
                                        create
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %> 
                        </div>
                   </div>
               </div>
           </div>
       </div>
   
       <footer>
           <div class="container">
               <div class="row justify-content-end">
                   <div class="col-4">
                       <p class="text-center copyright pt-1">© 2021 Copyright : Green House</p>
                   </div>
                   <div class="col-4">
                       <div class="contact-links">
                           <a href="#youtube"><i class="contact-icon bi bi-youtube" style="color: red;"></i></a>
                           <a href="#instagram"><i class="contact-icon bi bi-instagram" style="color: purple;"></i></a>
                           <a href="#facebook"><i class="contact-icon bi bi-facebook" style="color: blue;"></i></a>
                       </div>
                   </div>
               </div>
           </div>
       </footer>

       <script src="/js/landingPage.js"></script>
</body>
</html>