<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/landingPage.css">
    <%- include('./imports') -%>
</head>
<body>
    <button class="btn btn-warning"><a href="/signin/google">Sign in with google</a></button>
</body>
</html>